<html ng-app='myApp'>
<head>
	<title>Sylvester's Project</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script type="text/javascript" src='app.js'></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller='MainController'>
	
	<div class='search-box'>
		<!-- Search box and place to define number of entries per query -->
		<div class='inline'> <div class='search'>Search Bing!</div> <input ng-model='query' ng-change='request()'> </div>
		<div class='inline'> <div class='search'>Number of Results:</div> <div><input type='number' ng-model='numResults'> </div></div>
		<div class='inline'> <div class='search'>Filter Results:</div> <div><input ng-model='filterSearch'> </div></div>

		<div class='inline'> <div class='search'>Sort By:</div> <div><a class='sorter' href='#' ng-click='order="Title"'>title</a> | <a href='#' class='sorter' ng-click='order="";'>none</a></div></div>

	</div>


	<!-- Displays each of the queries -->
	<div ng-repeat='element in searchResults|filter:filterSearch|orderBy:order'>
		
		<div class='entry'>
			<a href="http://{{element.DisplayUrl}}">
			
				<h3><p class='entry-title'>{{element.Title}}</p></h3>	
				<p class='entry-description'>{{element.Description}}</p>
			
			</a>
		</div>

	</div>


</body>
</html>